<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to myTinder</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th> Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${people.empty}">
        <td colspan="3"> No Person Available</td>
    </tr>
    <tr th:each="person : ${people}">
        <td><span th:text="${person.id}"> Id </span></td>
        <td><span th:text="${person.name}"> Name</span></td>
        <td><span th:text="${person.surname}"> Surname</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>